.pagination{
    padding: 2em;
}
.pagination-link{
    background-color:rgb(184, 17, 17);
    color: white;
    margin-top: 0.5em;
}
.pagination-link:hover{
    background-color: red;
    color: white;
}
.pagination-previous{
    color: white;
    background-color: rgb(184, 17, 17);
}
.pagination-previous:hover{
    color: white;
    background-color:red;
}
.pagination-next{
    color: white;
    background-color: rgb(184, 17, 17);
}
.pagination-next:hover{
    color: white;
    background-color:red;
}
.is-disabled{
    visibility: hidden;
}

